altgraph==0.17
astroid==2.4.2
colorama==0.4.4
env==0.1.0
future==0.18.2
isort==5.7.0
lazy-object-proxy==1.4
mccabe==0.6.1
mypy==0.800
mypy-extensions==0.4.3
pefile==2019.4.18
pip==21.0.1
psutil==5.8.0
pygame==2.0.1
pyinstaller==3.6
pylint==2.6.0
pywin32-ctypes==0.2.0
setuptools==52.0.0
six==1.15.0
typed-ast==1.4.2
typing-extensions==3.7.4.3
wrapt==1.12.1
